*{
 margin-left: 15px;
 
 
}



.input-label {
  position: relative;
  margin: 0;
  width: 100px;
  border: 0;

}

.search-icon {
  position: absolute;
  left: 10px; /* Adjust the left position as needed */
  top: 50%;
  transform: translateY(-50%);
}
#searchbox{
  width: 200px;
  height: 25px;
  border-radius: 20px;
}

input[type="text"] {
  padding-left: 30px; /* Adjust the padding-left to make space for the icon */
  border-radius: 8px;
  padding-right: 30px;
  padding-bottom: 6px;
  padding-top: 5px;
 
}
#box1{
  margin: 0;
  margin-bottom:40px;
}
.about-phone{
  margin-top: 20px;
  margin-left: 30px;
 
}

.Phoneicone{
  transform: rotate(115deg);
  color: rgba(11, 71, 117, 0.625);
}
h1{
  font-family: serif;
  font-weight: 100;
 
}
#system{
  margin-right: 0px;
  margin-bottom: 20px;
  margin-top: 20px;
  color: rgba(194, 46, 16, 0.889);
 
}
.system11{
  font-family: serif;
  font-weight: lighter;
  
}
.security{
  margin-bottom: 20px;
  margin-top: 20px;
  color: rgba(12, 111, 56, 0.87);
}
#secu{
  margin-left: 20px;

  
}
.airplane{
  
  /* margin-right: 20px; */
  color: rgba(212, 88, 16, 0.915);
  
}
#air{
  margin-top: 35px;
  display: flex;
  align-items: center;
}
.Dandb{
  margin-right: 20px;
  margin-top: 25px;
  margin-bottom: 20px;
  display: flex;

}
.sound{
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 5px;
  color: green;
}
.danb11{
  color: rgba(205, 193, 17, 0.745);
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 10px;
 
}
.wifi{
  margin-left: 30px;
  margin-top: 25px;
  margin-bottom: 20px;
 
  color: rgba(23, 82, 184, 0.929);

}
.wifi1{
  margin-top: 10px;
}
#wifi1{
display: flex;

margin-bottom: 20px;

}
.Hotspot{
  margin-left: 30px;
  margin-top: 15px;
  margin-bottom: 20px;
 
  color: rgb(142, 136, 53);

}
.bluetooth{
  margin-top: 06px;
  
  /* margin-right: 20px; */
  color: rgb(17, 55, 125);
  
}
#text{
  margin: 0;
}
#main2{
  display: flex;
  margin: 0;
  align-items: center;
}

.notify{
  margin-top: 20px;
  margin-bottom: 20px;
  margin-right: 0px;
  color: rgba(249, 169, 11, 0.899);
  
}
.Home{
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  color:rgba(106, 26, 153, 0.856);
  
}
#main3{
  display: flex;
  margin-bottom: 0px;
}
#One{
  margin-top: 25px;
  width: 270px;
}
#Second2{
  margin-top: 40px;
  width: 270px;
}
.wallpaper{
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  color: rgb(210, 48, 118);
 
}
.theme{
  margin-top: 20px;
  margin-right: 0px;
  margin-bottom: 20px;
  color: mediumorchid;
  
}

.about-phone {
  background-color: re;
  /* Default styles */
  /* color: rgba(29, 99, 149, 0.803); */
  display: flex;
  margin-bottom: 20px;
  
  /* align-items: center; */
  transition: background-color 0.3s;  /* Add a smooth transition */

  /* Hover effect styles */
  &:hover {
    background-color: rgba(200, 188, 188, 0.1);
  }
}

.security111{

  margin-top: 0px;
  transition: background-color 0.3s; /* Add a smooth transition */
  

  /* Hover effect styles */
  &:hover {
    background-color: rgba(200, 188, 188, 0.1);
    
    /* margin: 20px,0,0; */
   
  }
}


/* arrow maintain */


.arrow1{
  width: 220px;

  display: flex;
  /* margin: 0; */
 align-items: center;
 justify-content: space-between;

}

.arow{
  color: grey;
  font-size: 15px;
}
#main2{
  margin: 0;
  /* align-items: center; */
}

.xyz{
  /* align-items: center; */
  margin: 0 ;
}


/* .arrow1{
  display: flex;
  justify-content: space-between;
}
.arow{
  color: gray;
  font-size: 15px;
} */


.System-apps-udates{

  transition: background-color 0.3s;  /* Add a smooth transition */

  /* Hover effect styles */
  &:hover {
    background-color: rgba(152, 142, 142, 0.195);
  }
}

#Air-plane{

  

  transition: background-color 0.3s;  /* Add a smooth transition */

  /* Hover effect styles */
  &:hover {
    background-color: rgba(200, 188, 188, 0.1);
  }
}

#Display-And-Bright{

  transition: background-color 0.3s;  /* Add a smooth transition */

  /* Hover effect styles */
  &:hover {
    background-color: rgba(200, 188, 188, 0.1);
  }
}

#Sound-vibration{

  margin-top: 25px;

  transition: background-color 0.3s;  /* Add a smooth transition */

  /* Hover effect styles */
  &:hover {
    background-color: rgba(200, 188, 188, 0.1);
  }
}


#wifi1{

  margin-bottom: 0px;

  transition: background-color 0.3s;  /* Add a smooth transition */

  /* Hover effect styles */
  &:hover {
    background-color: rgba(200, 188, 188, 0.1);
  }
}


#Blue-Tooth{
  margin-top: 15px;

  transition: background-color 0.3s;  /* Add a smooth transition */

  /* Hover effect styles */
  &:hover {
    background-color: rgba(200, 188, 188, 0.1);
  }
}

#Noti-Fication{

  margin-top: 35px;


  transition: background-color 0.3s;  /* Add a smooth transition */

  /* Hover effect styles */
  &:hover {
    background-color: rgba(200, 188, 188, 0.1);
  }
}

#Wall-Paper{

  transition: background-color 0.3s;  /* Add a smooth transition */

  /* Hover effect styles */
  &:hover {
    background-color: rgba(200, 188, 188, 0.1);
  }
}

#Hotspot{
  background-color: rgba(128, 128, 128, 0.248);
  margin-left: 0;
  margin-top: 20px;
  border-radius: 15px;
 
}


/* Text size css */

.Text1{
  width: 200px;
  background-color: rgba(0, 70, 232, 0.841);
  color: white;
  padding:10px;
  border-radius: 20px;
  margin-left: 100px;
  
}

.Text2{
  width: 200px;
  background-color: rgba(128, 128, 128, 0.271) ;
  color: black;
  padding:5px;
  border-radius: 20px;
  margin-left: 0px;
  margin-top: 30px;
}

#darkmode:hover img {
  transform: scale(1.1);
}
#darkmode:active img {
  transform: scale(0.9);
}

.makeactive img {
  transform: scale(1.1);
  filter: brightness(70%);
}

makeactive:hover img {
  transform: scale(1);
  
}

.comp{
  border-radius: 30px;
  background-color:#e0e0e0;
  width:300px;
  padding-top: 5px;
  padding-bottom:5px;
  text-align:center;
}

.comp:hover {
  background-color: grey;
  color: black;
  transform: scale(1.05);
}

.compactive {
  background-color: grey;
  color: #ffffff;
  transform: scale(1.05);
  border-radius: 30px;
  width:300px;
  padding-top: 5px;
  padding-bottom:5px;
  text-align:center;
}






