

.Sound input,
.Ringtone input,
.Alarm input {
  background-color: #0864c1; /* Change the background color */
  height: 10px; /* Set the height of the slider */
  border: none; /* Remove border */
  border-radius: 5px; /* Add some border radius for style */
  outline: none;
  background: linear-gradient(to right, blue, blue); /* Remove the outline */
}

.Sound-slider input::-webkit-slider-thumb,
.Ringtone input::-webkit-slider-thumb,
.Alarm input::-webkit-slider-thumb {
  background-color: #fff; /* Change the thumb (slider handle) color */
  border: 2px solid #0073e6; /* Add a border to the thumb */
  width: 20px; /* Set the width of the thumb */
  height: 20px; /* Set the height of the thumb */
  border-radius: 50%; /* Make the thumb a circle */
  cursor: pointer; /* Add a pointer cursor on hover */
}

.Sound{
    background-color: #0073e6;
  height: 10px; /* Set the height of the slider */
  border: none; /* Remove border */
  border-radius: 5px; /* Add some border radius for style */
  outline: none;
  background: linear-gradient(to right, blue, blue); 
    background-color: blue !important;
    padding: 10px !important;
  }



  /* brightness handler css */

  .brightness-slider {
 
    margin: 0 auto;
    padding: 20px;
    width: 250px;
    color: blue;
    background-color: rgba(174, 170, 170, 0.122);
    border-radius: 20px;
   
   
  }
  
  
  .overlay {
    pointer-events: none;
  
  }
  
  input[type="range"] {
    width: 100%;
   
    
  }
  
  input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    background: #3498db;
    border: 2px solid #3498db;
    border-radius: 50%;
    cursor: pointer;
  }
  
  input[type="range"]::-webkit-slider-thumb:hover {
    background: #2980b9;
  }
  
  input[type="range"] {
    appearance: none;
    height: 5px;
    background: #d1d1d1;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 100%
  }
  
  /* Firefox */
  input[type="range"]::-moz-range-thumb {
    width: 20px;
    height: 20px;
    background: #3498db;
    border: 2px solid #3498db;
    border-radius: 50%;
    cursor: pointer;
  }
  
  input[type="range"]::-moz-range-thumb:hover {
    background: #2980b9;
  }
  
  input[type="range"]::-moz-range-track {
    background: blue;
    border: 1px solid #d1d1d1;
    border-radius: 5px;
    width: 100%;  
  }
  
  input[type="range"]::-moz-range-progress {
    background-color: #3498db;  
  }
  
  input[type="range"]::-moz-range-progress:hover {
    background-color: #2980b9; 
  }


  /* ringtonr silder */

  /* .Ring-slider{
    background-color: gray;
    width: 300;
    padding-top: 150x;
    padding-bottom: 20;
    border-radius: 15;
  } */


  

 