

.Sound input,
.Ringtone input,
.Alarm input {
  background-color: #0864c1; /* Change the background color */
  height: 10px; /* Set the height of the slider */
  border: none; /* Remove border */
  border-radius: 5px; /* Add some border radius for style */
  outline: none;
  background: linear-gradient(to right, blue, blue); /* Remove the outline */
}

.Sound-slider input::-webkit-slider-thumb,
.Ringtone input::-webkit-slider-thumb,
.Alarm input::-webkit-slider-thumb {
  background-color: #fff; /* Change the thumb (slider handle) color */
  border: 2px solid #0073e6; /* Add a border to the thumb */
  width: 20px; /* Set the width of the thumb */
  height: 20px; /* Set the height of the thumb */
  border-radius: 50%; /* Make the thumb a circle */
  cursor: pointer; /* Add a pointer cursor on hover */
}

.Sound{
    background-color: #0073e6;
  height: 10px; /* Set the height of the slider */
  border: none; /* Remove border */
  border-radius: 5px; /* Add some border radius for style */
  outline: none;
  background: linear-gradient(to right, blue, blue); 
    background-color: blue !important;
    padding: 10px !important;
  }



  

 